<div id="tema-fab">
  <button class="tema-bytte fullskjerm-fab" data-tema="dark" title="Bytt fargetema" aria-label="Bytt fargetema">
    <i data-lucide="moon"></i>
    <i data-lucide="sun"></i>
    <i data-lucide="monitor"></i>
  </button>
</div>
