{% if "eksamen" in tags %}
{% set pdfSlug = permalink | replace("/eksamener/", "") | replace("/", "") %}
<div class="eksamen-kontroller">
  <a id="toggle-losninger" class="eksamen-toggle-btn" role="button" href="#">
    Vis løsningsforslag
  </a>
  {% if pdfSlug %}
  {% if meta.env == "prod" %}
  {% set pdfBase = "https://github.com/stalegjelsten/matematikkoppgaver/raw/master/src/site/img/user/pdf" %}
  {% else %}
  {% set pdfBase = "/img/user/pdf" %}
  {% endif %}
  <a href="{{ pdfBase }}/{{ pdfSlug }}.pdf" class="eksamen-pdf-btn">
    Last ned oppgaver (PDF)
  </a>
  <a href="{{ pdfBase }}/{{ pdfSlug }}-losning.pdf" class="eksamen-pdf-btn">
    Last ned løsningsforslag (PDF)
  </a>
  {% endif %}
</div>
{% endif %}
