---
pagination:
  data: collections.unikeTemaer
  size: 1
  alias: tema
eleventyComputed:
  permalink: "/temaer/{{ tema | slugify }}/"
  title: "{{ tema | capitalize }}"
layout: layouts/note.njk
tags: []
---
